[submodule ".config/mpv/scripts/mpv-scripts"]
	path = .config/mpv/script_sources/mpv-scripts
	url = https://github.com/occivink/mpv-scripts.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".config/mpv/scripts/mpv_sponsorblock"]
	path = .config/mpv/script_sources/mpv_sponsorblock
	url = https://github.com/po5/mpv_sponsorblock
[submodule ".config/mpv/scripts/mpv-createchapter"]
	path = .config/mpv/script_sources/mpv-createchapter
	url = https://github.com/shinchiro/mpv-createchapter
