[submodule ".config/mpv/scripts/mpv-scripts"]
	path = .config/mpv/scripts/mpv-scripts
	url = https://github.com/occivink/mpv-scripts.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
