.config/.mono
.config/aacs
.config/configstore
.config/fish/fish_history
.config/fish/fish_read_history
.config/fish/fishd.*
.config/fish/fundle
.config/fish/generated_completions
.config/fisherman
.config/gtk-2.0
.config/hub
.config/heroku
.config/inkscape
.config/menus
.config/mpv/fonts.conf
.config/QtProject
.config/yarn
.config/direnv/allow

.vim/bundle
