;; Written for Goku (https://github.com/yqrashawn/GokuRakuJoudo)
;; brew install yqrashawn/goku/goku
;; I don't usually run the goku watcher, so after changing run `goku` to recompile and override Karabiner defaults


{:applications {:mpv ["^io\\.mpv$", :paths "^/opt/homebrew/bin/mpv$"] ;; You might want to change your MPV path, keeping both makes it work with CLI and App launched MPV
                }


 :devices {:footswitch [{:vendor_id 13651 :product_id 45057}]}

 :main [{:des "Caps-lock to escape when pressed alone, hyper when used as a modifier, and caps-lock when Shift pressed",
         :rules [[:!Ocaps_lock :caps_lock]
                 [:caps_lock [:!CTOleft_shift] nil {:alone :escape}]]}

        {:des "Foot pedals control MPV playback"
         :rules [[:a :rewind [:mpv :footswitch]]
                 [:b :play_or_pause [:mpv :footswitch]]
                 [:c :fastforward [:mpv :footswitch]]]}

        {:des "Foot pedals default controls"
         :rules [[:!Oa [:caps_lock] [:footswitch]]
                 [:a [:!CTOleft_shift] [:footswitch] {:alone :escape}]
                 [:b :!!m [:footswitch]]
                 [:c :left_command [:footswitch]]]}]}
